<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="scripts/search-specification.js"></script>
    <link href="/search-results.css" rel="stylesheet" />
</head>
<body>
    <%- include('common/header'); -%>
    <div>
        <h5>Search by model.</h5>
        <input
        type="text"
        placeholder="Search"
        id="searchInput"
        />
        <div>
            <button onclick="handleSubmit()" class="btn btn-outline-secondary" type="button" style="margin: 10px;">
                Search vehicles
            </button>
        </div>
    </form>
    <div> 
        <table id="specificationItems">
        </table>
    </div>
</body>
</html>